{{> header }}

<section class="internal-main-section">
    <div class="container">
        <h1 class="internal-page-title">
            The Profit Masters Academy <span>Newsroom</span>
        </h1>
    </div>
</section>

<section class="internal-section">
    <div class="container">
        <div class="text-wrapper">
            <p>
                Profit Masters is a group of online education specialists, financial markets veterans and marketers who
                came together to create a meaningful platform for growth. We specialize in business growth, financial
                education, investing advice and mentorship - all aligned with our core belief that knowledge is power.
            </p>
            <p>
                Our mission is to promote the financial wellbeing of people worldwide through quality education and
                meaningful connections. We have already helped thousand to achieve financial freedom and counting.
            </p>
            <p>We believe in treating every dollar as an investment in the future you want to create. We believe that
                investing in great opportunities, for the long term, is the most effective path to wealth.</p>
        </div>
    </div>
</section>

<section class="internal-section">
    <div class="container">
        <div class="news-wrapper">
            <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
                <li class="nav-item" role="presentation">
                    <button class="nav-link active" id="pills-stock-tab" data-bs-toggle="pill"
                        data-bs-target="#pills-stock" type="button" role="tab" aria-controls="pills-stock"
                        aria-selected="true">Stock Market</button>
                </li>
                <li class="nav-item" role="presentation">
                    <button class="nav-link" id="pills-retirement-tab" data-bs-toggle="pill"
                        data-bs-target="#pills-retirement" type="button" role="tab" aria-controls="pills-retirement"
                        aria-selected="false">Retirement</button>
                </li>
                <li class="nav-item" role="presentation">
                    <button class="nav-link" id="pills-investing-tab" data-bs-toggle="pill"
                        data-bs-target="#pills-investing" type="button" role="tab" aria-controls="pills-investing"
                        aria-selected="false">Investing Basics</button>
                </li>
                <li class="nav-item" role="presentation">
                    <button class="nav-link" id="pills-crypto-tab" data-bs-toggle="pill" data-bs-target="#pills-crypto"
                        type="button" role="tab" aria-controls="pills-crypto" aria-selected="false">Crypto</button>
                </li>
                <li class="nav-item" role="presentation">
                    <button class="nav-link" id="pills-nft-tab" data-bs-toggle="pill" data-bs-target="#pills-nft"
                        type="button" role="tab" aria-controls="pills-nft" aria-selected="false">NFT</button>
                </li>
                <li class="nav-item" role="presentation">
                    <button class="nav-link" id="pills-tax-tab" data-bs-toggle="pill" data-bs-target="#pills-tax"
                        type="button" role="tab" aria-controls="pills-tax" aria-selected="false">Tax</button>
                </li>
            </ul>
            <div class="tab-content" id="pills-tabContent">
                <div class="tab-pane fade show active" id="pills-stock" role="tabpanel"
                    aria-labelledby="pills-stock-tab" tabindex="0">
                    <div class="newsroom-grid">
                        <div class="row">
                            {{#each news}}
                            {{#ifEquals category "stock-market"}}
                            <div class="col-6 col-md-4">
                                <img src="{{ imagePath }}" alt="" />
                                <p>{{title}}</p>

                            </div>
                            {{/ifEquals}}
                            {{/each}}
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade" id="pills-retirement" role="tabpanel" aria-labelledby="pills-retirement-tab"
                    tabindex="0">
                    <div class="newsroom-grid">
                        <div class="row">
                            {{#each news}}
                            {{#ifEquals category "retirement"}}
                            <div class="col-6 col-md-4">
                                <img src="{{ imagePath }}" alt="" />
                                <p>{{title}}</p>

                            </div>
                            {{/ifEquals}}
                            {{/each}}
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade" id="pills-investing" role="tabpanel" aria-labelledby="pills-investing-tab"
                    tabindex="0">
                    <div class="newsroom-grid">
                        <div class="row">
                            {{#each news}}
                            {{#ifEquals category "investing"}}
                            <div class="col-6 col-md-4">
                                <img src="{{ imagePath }}" alt="" />
                                <p>{{title}}</p>

                            </div>
                            {{/ifEquals}}
                            {{/each}}
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade" id="pills-crypto" role="tabpanel" aria-labelledby="pills-crypto-tab"
                    tabindex="0"></div>
                <div class="tab-pane fade" id="pills-nft" role="tabpanel" aria-labelledby="pills-nft-tab" tabindex="0">
                </div>
                <div class="tab-pane fade" id="pills-tax" role="tabpanel" aria-labelledby="pills-tax-tab" tabindex="0">
                </div>
            </div>
        </div>
    </div>
</section>



{{> footer }}